/**
 * Hestia integration styles
 */
.site-main .ava-woo-builder .product_meta > span,
.main .ava-woo-builder .product_meta > span,
.entry-content .ava-woo-builder .product_meta > span {
  display: block;
}

.site-main .ava-woo-builder .woocommerce-tabs li,
.main .ava-woo-builder .woocommerce-tabs li,
.entry-content .ava-woo-builder .woocommerce-tabs li {
  margin: 0;
}

.site-main .ava-woo-builder .tabs:after, .site-main .ava-woo-builder .tabs:before,
.main .ava-woo-builder .tabs:after,
.main .ava-woo-builder .tabs:before,
.entry-content .ava-woo-builder .tabs:after,
.entry-content .ava-woo-builder .tabs:before {
  display: none !important;
}

.site-main .ava-woo-builder .tabs > li,
.main .ava-woo-builder .tabs > li,
.entry-content .ava-woo-builder .tabs > li {
  border: none !important;
  background: transparent !important;
}

.site-main .ava-woo-builder .tabs > li:after, .site-main .ava-woo-builder .tabs > li:before,
.main .ava-woo-builder .tabs > li:after,
.main .ava-woo-builder .tabs > li:before,
.entry-content .ava-woo-builder .tabs > li:after,
.entry-content .ava-woo-builder .tabs > li:before {
  display: none;
}

.site-main .ava-woo-builder .tabs > li a,
.main .ava-woo-builder .tabs > li a,
.entry-content .ava-woo-builder .tabs > li a {
  width: 100%;
  display: block;
}
