/**
 * Avada integration styles
 */
.ava-woo-builder .onsale {
  display: inline-block;
}

.ava-woo-builder .price > .amount {
  color: inherit;
}

.ava-woo-builder .woocommerce-tabs .panel {
  margin: 0;
}
