/**
 * GeneratePress integration styles
 */

.site-main .ava-woo-builder,
.entry-content .ava-woo-builder {
	.product_meta {
		> span {
			display: block;
		}
	}
	
	.tabs{
		&:after,
		&:before{
			display: none!important;
		}
		
		> li {
			border: none!important;
			background: transparent!important;
			
			&:after,
			&:before {
				display: none;
			}
			
			a {
				width: 100%;
				display: block;
			}
		}
	}
}
