/**
* Ava products
*/
.ava-woo-products {
	.ava-compare-button__link,
	.ava-wishlist-button__link {
		margin: 5px 10px;
	}
	.ava-woo-products__item {
		.ava-woo-products-cqw-wrapper {
			opacity: 1;
			visibility: visible;
			display: flex;
			flex-direction: column;
			z-index: 10;
			pointer-events: none;
			transition: .3s ease all;
			transition-delay: 0s;
			> * {
				pointer-events: none;
				> * {
					pointer-events: visible;
				}
			}
			@media ( min-width: 769px ) {
				opacity: 0;
				visibility: hidden;
			}
			&.cqw-horizontal-view {
				display: flex;
				flex-direction: row;
				> * {
					flex: 0 1 100%;
					max-width: 100%;
				}
			}
		}
		@media ( min-width: 769px ) {
			&:hover {
				.ava-woo-products-cqw-wrapper {
					opacity: 1;
					visibility: visible;
				}
			}
		}

	}

	&--preset-2,
	&--preset-8 {
		.ava-woo-product-button {
			text-align: center;
		}
		
		.ava-woo-products__item {
			.hovered-content {
				position: absolute;
				bottom: 0;
				transition: .3s all ease;
				padding: 5px;
				width: 100%;
			}
		}
	}

	&--preset-1,
	&--preset-2,
	&--preset-6,
	&--preset-7,
	&--preset-5,
	&--preset-10 {
		.ava-woo-products__inner-box {
			position: relative;
			.ava-woo-products-cqw-wrapper {
				top: 0;
				position: absolute;
				right: 0;
				left: 0;
			}
		}
	}
	
	&--preset-3{
		.ava-woo-products__item {
			.ava-woo-products__item-content {
				position: relative;
				overflow: hidden;
			}
		}
	}
	
	&--preset-4 {
		.ava-woo-products__item {
			.ava-woo-products__item-content {
				position: relative;
			}
		}
	}
	
	&--preset-5 {
		.ava-woo-products__item {
			position: relative;
			
			.hovered-content {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				opacity: 0;
				transition: .3s all ease;
			}
			
			&:hover {
				.hovered-content {
					opacity: 1;
				}
			}
		}
	}

	&--preset-6,
	&--preset-10 {
		.ava-woo-product-img-overlay {
			z-index: -1;
		}
	}
	
	.ava-woo-products__inner-box {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}
	
	.ava-woo-products__thumb-wrap {
		position: relative;
	}
	
	.ava-woo-product-thumbnail {
		position: relative;
		font-size: 0;
		text-align: center;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
	}
	
	.ava-woo-product-badges {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	
	.ava-woo-product-badge {
		font-size: 12px;
		line-height: 1;
		padding: 5px;
	}
	
	.ava-woo-product-badge__sale {
		background-color: #fd6d75;
	}
	
	.ava-woo-product-price {
		ins {
			border: none;
			font-style: normal;
		}
	}
	
	.ava-woo-product-title {
		font-size: 24px;
	}
	
	.ava-woo-product-rating {
		margin-top: 15px;
	}

	.ava-woo-product-sku {
		order: 1;
		margin-top: 15px;
	}

	.ava-woo-product-categories {
		margin-top: 15px;
	}
	
	.ava-woo-product-button {
		margin: 10px 0 10px 0;
		
		&.is--default {
			.ajax_add_to_cart {
				&.loading {
					position: relative;
					opacity: 0.25;
					padding-right: 30px !important;
					
					&::after {
						font-family: 'WooCommerce';
						content: '\e01c';
						vertical-align: top;
						font-weight: 400;
						position: absolute;
						top: 50%;
						right: 9px;
						margin-top: -9px;
						animation: spin 2s linear infinite;
						line-height: 1;
						font-size: 16px;
					}
				}
				
				&.added::after {
					font-family: 'WooCommerce';
					content: '\e017';
					margin-left: 10px;
					font-weight: 400;
				}
			}
		}
	}
	
	.ava-woo-product-tags,
	.ava-woo-product-categories {
		ul {
			margin: 0;
			list-style: none;
			
			> li {
				display: inline-block;
			}
		}
	}
	
	.ava-woo-product-img-overlay {
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: .3s all ease;
	}
	
	&.ava-equal-cols {
		.ava-woo-products__item {
			height: auto;
			display: flex;
			flex-direction: column;
			
			.ava-woo-products__inner-content {
				flex-grow: 1;
			}
			
		}
	}
	
	// remove added to cart button
	.added_to_cart.wc-forward {
		display: none !important;
	}
}

.ava-woo-product-thumbnail {
	img {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.ava-woo-products {
		&--preset-2,
		&--preset-8 {
			.ava-woo-products__item {
				.hovered-content {
					visibility: hidden;
					opacity: 0;
				}
				
				&:hover {
					.hovered-content {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
		&--preset-3 {
			.ava-woo-products__item {
				.ava-woo-product-tags,
				.ava-woo-product-rating,
				.ava-woo-product-excerpt,
				.ava-woo-product-price,
				.ava-woo-product-title,
				.ava-woo-product-sku,
				.ava-woo-product-categories,
				.ava-woo-product-stock-status {
					transform: translateY(0);
					opacity: 1;
				}
				
				.ava-woo-product-categories {
					transition: .2s all ease;
				}

				.ava-woo-product-sku {
					transition: .2s all ease;
					transition-delay: .06s;
				}
				
				.ava-woo-product-stock-status {
					transition: .2s all ease;
					transition-delay: .06s;
				}

				.ava-woo-product-title {
					transition: .2s all ease;
					transition-delay: .08s;
				}
				
				.ava-woo-product-price {
					transition: .2s all ease;
					transition-delay: .1s;
				}
				
				.ava-woo-product-excerpt {
					transition: .2s all ease;
					transition-delay: .12s;
				}
				
				.ava-woo-product-rating {
					transition: .2s all ease;
					transition-delay: .16s;
				}
				
				.ava-woo-product-tags {
					transition: .2s all ease;
					transition-delay: .2s;
				}
				
				.hovered-content {
					position: absolute;
					top: 50%;
					transform: translateY(0);
					width: 100%;
					visibility: hidden;
					opacity: 0;
					transition: .3s all ease;
					transition-delay: .0s;
				}
				
				&:hover {
					.ava-woo-product-price,
					.ava-woo-product-title,
					.ava-woo-product-sku,
					.ava-woo-product-tags,
					.ava-woo-product-rating,
					.ava-woo-product-excerpt,
					.ava-woo-product-categories,
					.ava-woo-product-stock-status {
						transform: translateY(-20px);
						opacity: 0;
						visibility: hidden;
					}
					
					.hovered-content {
						opacity: 1;
						visibility: visible;
						transform: translateY(-50%);
						transition-delay: .3s;
					}
				}
			}
		}
		&--preset-4 {
			.ava-woo-products__item {
				.ava-woo-product-excerpt,
				.ava-woo-product-button,
				.ava-woo-product-rating,
				.ava-woo-product-tags {
					transform: translateY(50px);
				}

				.ava-woo-products-cqw-wrapper {
					position: absolute;
					bottom: 0;
					top: auto;
					width: 100%;
				}
				
				.ava-woo-product-excerpt {
					transition: .3s all ease;
					transition-delay: .1s;
				}
				
				.ava-woo-product-button {
					transition: .3s all ease;
					transition-delay: .15s;
				}
				
				.ava-woo-product-rating {
					transition: .3s all ease;
					transition-delay: .2s;
				}
				
				.ava-woo-product-tags {
					transition: .3s all ease;
					transition-delay: .25s;
				}
				
				.hovered-content {
					opacity: 0;
					visibility: hidden;
					transition: .3s all ease;
				}
				
				&:hover {
					.hovered-content {
						opacity: 1;
						visibility: visible;
						
						.ava-woo-product-tags,
						.ava-woo-product-rating,
						.ava-woo-product-excerpt,
						.ava-woo-product-button {
							transform: translateY(0);
						}
					}
				}
			}
		}
		&--preset-5 {
			.ava-woo-products__item {
				position: relative;
				
				.hovered-content {
					visibility: hidden;
				}
				
				&:hover {
					.hovered-content {
						visibility: visible;
					}
				}

			}
		}
		&--preset-6 {
			.ava-woo-products__item {

				.ava-woo-product-thumbnail {
					.ava-woo-product-img-overlay {
						display: none;
					}
				}

				.ava-woo-product-img-overlay {
					z-index: -1;
				}

				.ava-woo-product-excerpt,
				.ava-woo-product-button,
				.ava-woo-product-rating,
				.ava-woo-product-tags {
					transform: translateY(50px);
				}


				.ava-woo-product-rating {
					transition: .3s all ease;
					transition-delay: .1s;
				}

				.ava-woo-product-excerpt {
					transition: .3s all ease;
					transition-delay: .15s;
				}

				.ava-woo-product-button {
					transition: .3s all ease;
					transition-delay: .2s;
				}

				.ava-woo-product-tags {
					transition: .3s all ease;
					transition-delay: .25s;
				}

				.ava-woo-products__item-content {
					transition: .3s all ease;
				}

				.hovered-content {
					visibility: hidden;
					opacity: 0;
				}

				&:hover {
					.ava-woo-products__item-content {
						transform: translateY(-50%);
					}

					.hovered-content {
						opacity: 1;
						visibility: visible;

						.ava-woo-product-tags,
						.ava-woo-product-rating,
						.ava-woo-product-excerpt,
						.ava-woo-product-button {
							transform: translateY(0);
						}
					}
				}
			}
		}

		&--preset-7 {
			.ava-woo-products__item {
				.ava-woo-products__item-content {
					position: relative;
				}
			}

			.ava-woo-products__item {
				.ava-woo-product-excerpt,
				.ava-woo-product-button,
				.ava-woo-product-tags {
					transform: translateY(50px);
				}

				.ava-woo-product-excerpt {
					transition: .3s all ease;
					transition-delay: .1s;
				}

				.ava-woo-product-button {
					transition: .3s all ease;
					transition-delay: .15s;
				}

				.ava-woo-product-tags {
					transition: .3s all ease;
					transition-delay: .2s;
				}

				.hovered-content {
					opacity: 0;
					visibility: hidden;
					transition: .3s all ease;
				}

				&:hover {
					.hovered-content {
						opacity: 1;
						visibility: visible;

						.ava-woo-product-tags,
						.ava-woo-product-excerpt,
						.ava-woo-product-button {
							transform: translateY(0);
						}
					}
				}
			}
		}

		&--preset-8,
		&--preset-9 {
			.hovered-content {
				> * {
					flex: 0 1 100%;
				}
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
		}

		&--preset-8 {
			.hovered-content {
				text-align: center;
			}
			.ava-woo-product-button {
				display: inline-block;
			}
		}

		&--preset-9 {
			.ava-woo-products__inner-box {
				height: 100%;
				overflow: visible;
			}

			.ava-woo-products__item-content {
				overflow: visible;
				position: relative;
				height: 100%;
			}

			.ava-woo-products__item {
				.ava-woo-product-tags,
				.ava-woo-product-rating,
				.ava-woo-product-excerpt {
					transform: translateY(0);
					opacity: 1;
				}

				.ava-woo-product-excerpt {
					transition: .2s all ease;
					transition-delay: .12s;
				}

				.ava-woo-product-rating {
					transition: .2s all ease;
					transition-delay: .16s;
				}

				.ava-woo-product-tags {
					transition: .2s all ease;
					transition-delay: .2s;
				}

				.hovered-content {
					position: absolute;
					bottom: 0;
					transform: translateY(0);
					width: 100%;
					visibility: hidden;
					opacity: 0;
					transition: .3s all ease;
					transition-delay: .0s;
				}

				&:hover {
					.ava-woo-product-tags,
					.ava-woo-product-rating,
					.ava-woo-product-excerpt {
						transform: translateY(-20px);
						opacity: 0;
						visibility: hidden;
					}

					.hovered-content {
						opacity: 1;
						visibility: visible;
						transform: translateY(-50%);
						transition-delay: .3s;
					}
				}
			}
		}

		&--preset-10 {
			.ava-woo-products__item {

				.ava-woo-product-thumbnail {
					.ava-woo-product-img-overlay {
						display: none;
					}
				}

				.ava-woo-product-img-overlay {
					opacity: 0;
					z-index: 1;
				}

				.ava-woo-product-excerpt,
				.ava-woo-product-button,
				.ava-woo-product-rating,
				.ava-woo-product-tags {
					transform: translateY(50px);
				}

				.ava-woo-product-excerpt {
					transition: .3s all ease;
					transition-delay: .1s;
				}

				.ava-woo-product-button {
					transition: .3s all ease;
					transition-delay: .15s;
				}

				.ava-woo-product-rating {
					transition: .3s all ease;
					transition-delay: .2s;
				}

				.ava-woo-product-tags {
					transition: .3s all ease;
					transition-delay: .25s;
				}

				.ava-woo-products__item-content {
					transition: .3s all ease;
					z-index: 2;
					position: relative;
				}

				.hovered-content {
					visibility: hidden;
					opacity: 0;
				}

				&:hover {

					.ava-woo-product-img-overlay {
						opacity: 1;
					}

					.ava-woo-products__item-content {
						transform: translateY(-50%);
					}

					.hovered-content {
						opacity: 1;
						visibility: visible;

						.ava-woo-product-tags,
						.ava-woo-product-rating,
						.ava-woo-product-excerpt,
						.ava-woo-product-button {
							transform: translateY(0);
						}
					}
				}
			}
		}
	}
}