/**
	 * Ava categories
	 */
.ava-woo-categories {
	
	.ava-woo-category-count__wrap {
		display: block;
		width: 100%;
		
		.ava-woo-category-count {
			display: inline-block;
		}
	}
	
	&--preset-1 {
		.ava-woo-categories-thumbnail__wrap{
			position: relative;
			
			.ava-woo-category-count__wrap {
				position: absolute;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				pointer-events: none;
			}
		}
	}
	
	&--preset-2 {
		.ava-woo-categories-content {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			display: block;
			max-width: 100%;
			padding: 10px 50px;
			pointer-events: none;
		}
		
		.ava-woo-category-count {
			opacity: 0;
		}
		
		.ava-woo-categories__item {
			// hover style for layout 2
			&:hover {
				.ava-woo-category-count {
					opacity: 1;
				}
			}
		}
	}
	
	&--preset-3 {
		.ava-woo-categories__item {
			.ava-woo-categories-title__wrap {
				> * {
					display: inline-block;
				}
			}
			
			.ava-woo-categories-content {
				position: absolute;
				top: auto;
				bottom: 0;
				left: 0;
				right: 0;
				display: block;
				max-width: 100%;
				padding: 10px 50px;
				transition: all .3s ease;
				pointer-events: none;
				
				.ava-woo-category-excerpt {
					max-height: 0;
					overflow: hidden;
					transition: all .2s ease;
				}
			}
			
			&:hover {
				.ava-woo-categories-content {
					.ava-woo-category-excerpt {
						max-height: 500px;
					}
				}
				
				.ava-woo-categories-content{
					bottom: 50%;
					transform: translateY(50%);
				}
			}
		}
	}
	
	&--preset-4 {
		.ava-woo-categories__item {
			.ava-woo-categories-title__wrap {
				> * {
					display: inline-block;
				}
			}
			
			.ava-woo-categories-content {
				position: absolute;
				top: auto;
				bottom: 0;
				left: 0;
				right: 0;
				display: block;
				max-width: 100%;
				padding: 10px 50px;
				transition: all .3s ease;
				pointer-events: none;
				
				.ava-woo-category-excerpt {
					transition: all .2s ease;
				}
			}
		}
	}
	
	&--preset-5 {
		.ava-woo-categories-content{
			display: flex;
			align-items: center;
			
			.ava-woo-category-content__inner{
				flex: 1 1 100%;
			}
			
			.ava-woo-category-count__wrap{
				flex: 0 1 auto;
				width: auto;
			}
		}
	}
	
	.ava-woo-categories__inner-box {
		position: relative;
		overflow: hidden;
	}
	
	.ava-woo-category-thumbnail {
		overflow: hidden;
		text-align: center;
		font-size: 0;
	}
	
	.ava-woo-category-title {
		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	
	.ava-woo-category-count {
		transition: .2s all ease;
	}
	
	.ava-woo-category-excerpt {
		padding: 0 10px;
	}
	
	.ava-woo-category-img-overlay__hover,
	.ava-woo-category-img-overlay {
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	
	.ava-woo-categories__item {
		.ava-woo-category-img-overlay__hover {
			opacity: 0;
		}
		
		&:hover{
			.ava-woo-category-img-overlay{
				opacity: 0;
			}
			.ava-woo-category-img-overlay__hover {
				opacity: 1;
			}
		}
	}
	
	&.ava-equal-cols {
		.ava-woo-categories__item {
			height: auto;
			display: flex;
			flex-direction: column;
			
			.ava-categories__inner-box {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				width: 100%;
				box-sizing: border-box;
			}
			
			.ava-woo-categories__inner-content {
				flex-grow: 1;
			}
		}
	}
}

.ava-woo-category-thumbnail {
	img {
		width: 100%;
	}
}
