/**
 * Twenty Fifteen integration styles
 */

.ava-woo-builder-template-elementor_canvas {
	&:before {
		display: none;
	}
}

.ava-woo-builder {
	.woocommerce-review-link {
		border: none;
	}
	
	.product_meta{
		> span{
			display: block;
		}
	}
	
	.tagged_as,
	.posted_in{
		a{
			border: none;
		}
	}
}
