/**
 * Twenty Fifteen integration styles
 */
.ava-woo-builder-template-elementor_canvas:before {
  display: none;
}

.ava-woo-builder .woocommerce-review-link {
  border: none;
}

.ava-woo-builder .product_meta > span {
  display: block;
}

.ava-woo-builder .tagged_as a,
.ava-woo-builder .posted_in a {
  border: none;
}
