/**
 * Zerif Lite integration styles
 */
.site-main .ava-woo-builder .product_meta > span,
.entry-content .ava-woo-builder .product_meta > span {
  display: block;
}

.site-main .ava-woo-builder p,
.entry-content .ava-woo-builder p {
  text-align: inherit;
}

.site-main .ava-woo-builder button.button,
.entry-content .ava-woo-builder button.button {
  width: auto;
}

.site-main .ava-woo-builder .tabs,
.entry-content .ava-woo-builder .tabs {
  padding-left: inherit;
}

.site-main .ava-woo-builder .tabs:before,
.entry-content .ava-woo-builder .tabs:before {
  display: none !important;
}

.site-main .ava-woo-builder .tabs > li,
.entry-content .ava-woo-builder .tabs > li {
  background: transparent !important;
  border: none !important;
}

.site-main .ava-woo-builder .tabs > li:after, .site-main .ava-woo-builder .tabs > li:before,
.entry-content .ava-woo-builder .tabs > li:after,
.entry-content .ava-woo-builder .tabs > li:before {
  display: none;
}

.site-main .ava-woo-builder .tabs > li a,
.entry-content .ava-woo-builder .tabs > li a {
  width: 100%;
  display: block;
}
